<form class="main-form first">
  <div class="main-form__title">
    <h1>Login</h1>
  </div>
  <div class="main-form__body">
    <input class="main-form__body--input" type="text" placeholder="Username" />
    <input class="main-form__body--input" type="password" placeholder="Password" />
    <button class="btn">Login</button>
  </div>
</form>  