<body class="home">

<h3>Hello <%= @current_user.username %> User: <%= @current_user.id %></h3>
<br>
<p>Today's photo theme is: <%= @theme.name %></p>
<br>

<form method="post" action="/logout">
  <input type="submit" value="Logout">
</form>

<button id="mainBtn">Main</button>


<div class="row">
<% @photos.each do |photo| %>
<div class="show-photo-container col-md-6 col-md-offset-3" style="background-image: url(<%= photo.url %>)">
</div>
<% end %>
</div>

</body>