<h3>Hello <%= @current_user.username %> User: <%= @current_user.id %></h3>

<form method="post" action="/logout">
  <input type="submit" value="Logout">
</form>


<button id="newBtn">New</button>


<% @photos.each do |photo| %>
  <img src="<%= photo.url %>" >
<% end %>

