

<form class="main-form first" method="post" action="/photos/new">
  <div class="main-form__title">
    <h1>Upload</h1>
  </div>
  <div class="main-form__body">
    <input class="main-form__body--input" type="text" name="url" placeholder="URL"/>
    <input class="main-form__body--input" type="text" name="description" placeholder="Description"/>
    <button class="btn">Clear</button>
    <button class="btn" type="submit" value="Register">Post</button>

  </div>
</form> 






