

<p>Add your new photo in the box below.</p>

<form method="post" action="/photos/new">
  <div>
    <label>Photo:</label>
    <input type="text" name="url">
  </div>
  <div>
    <label>Description:</label>
    <input type="text" name="description">
  </div>
     <input type="submit" value="Submit">
  </div>
</form>

