<body class="home">

<h1 class="title">Carpe Ipsum</h1>



<form class="main-form first" method="post" action="/users/login">
  <div class="main-form__title">
    <h1>Login</h1>
  </div>
  <div class="main-form__body">
    <input class="main-form__body--input" type="text" name="username" value="<%= @current_user && @current_user.username %>" placeholder="Username" />
    <input class="main-form__body--input" type="password" name="password" value="<%= @current_user && @current_user.password %>" placeholder="Password" />
    <button class="btn"><a href="users/new">Sign Up</a></button>
    <button class="btn">Log In</button>
  </div>
</form>  
</body>
